<div class="login">
  <%= form_with(url: login_path, scope: :session, local: true,data: { turbo: false },id:"sign-form",class:"login-form") do |form|  %>
    <div>
      <h2 style="text-align: center;">Log In</h2>
    </div>
    <div>
      <%= form.label :email,style: "display: block" %>
      <%= form.email_field :email ,class:"login-mail" %>
      <p id="email-error" class="error-message">A valid email is required.</p>
    </div>
    <div> 
      <%= form.label :password,style: "display: block" %>
      <%= form.password_field :password,class:"login-password"%>
      <p id="password-error" class="error-message">Enter correct password</p>
    </div>
    <div>
      <%= form.submit "Log In" , class:"login-submit" %>
    </div>
  <% end %>
</div>


<%= javascript_include_tag 'signIn' %>