<%= form_with(model: product_listing_page, id: "productForm") do |form| %>
  <% if product_listing_page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product_listing_page.errors.count, "error") %> prohibited this product_listing_page from being saved:</h2>
      <ul>
        <% product_listing_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: 'form-field' %>
    <p class="error title-error" class:'form-error'></p>
  </div>
  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, class: 'form-field' %>
    <p class="error price-error" class:'form-error'></p>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: 'form-field' %>
    <p class="error description-error" class:'form-error'></p>
  </div>
  <div>
    <label for="category" style="display: block" >Category</label>
    <select name="product_listing_page[category]" id="categorySelect" class="form-field">
      <option value="">select category</option>
      <option value="Mobiles">Mobiles</option>
      <option value="Laptops">Laptops</option>
      <option value="Charger">Charger</option>
      <option value="Fashion">Fashion</option>
      <option value="Movies">Movies</option>
    </select>
    <p class="error category-error" class:'form-error'></p>
  </div>
  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity,class:'form-field'  %>
    <p class="error quantity-error" class:'form-error'></p>
  </div>
  <div>
    <%= form.label :image, 'Upload Image', style: 'display: block' %>
    <%= form.file_field :image, class: 'form-field' %>
    <p class="error image-error" class:'form-error'></p>
  </div>
  <div class="bottom-button">
    <%= link_to "Back", product_listing_pages_path %>
    <%= form.submit "Add", class: 'btn' %>
  </div>
<% end %>

<%= javascript_include_tag 'formvalidate' %>