<%= form_tag(product_listing_pages_path, method: :get, class:'filters-form') do %>
  <%= select_tag :category, options_for_select(['All', 'Mobiles', 'Laptops', 'Charger', 'Fashion', 'Movies'], params[:category]), prompt: 'Select Category',class:'popover-form' %>
  <%= select_tag :pricerange, options_for_select(['49- 499', '500-999', '1000-1999', '2000-2999', '3000-10000'], params[:pricerange]), prompt: 'Price Range',class:'popover-form' %>
</select>
<button type="submit" class="submit" data-close-button >Apply</button>
<% end %>
