<div id="<%= dom_id product_listing_page %>" class='<%= 'product-list ' if @override_image.present? %>'>
  <div class="image <%= 'image-override' if @override_image.present? %>">
    <%=image_tag product_listing_page.image %>
  </div>
  <div class='detail <%= 'details' if @override_image.present? %>'>
    <%if !@override_image.present?%>
      <h2>
        <%= product_listing_page.title %>
      </h2>
    <%else%>
      <p>
        <strong>Title : </strong>
        <%= product_listing_page.title %>
      </p>
    <%end%>
    <%if !@override_image.present?%>
      <h3>
        <%= number_to_currency(product_listing_page.price) %>
      </h3>
    <%else%>
      <p>
        <strong>Price : </strong>
        <%= number_to_currency(product_listing_page.price) %>
      <%end%>
      <p>
        <% if @override_image.present? %>
          <strong>Description:</strong>
          <%= product_listing_page.description %>
        <% end %>
      </p>
      <p>
        <strong>Quantity:</strong>
        <%= product_listing_page.quantity %>
      </p>
      <p>
        <strong>Category:</strong>
        <%= product_listing_page.category %>
      </p>
    </div>
  </div>
