<div class='search'>
  <input type="text" placeholder="Search" class='search-input' id="search-product">
  <div>
    <button data-modal-target="#modal" class="filter-button" title="filter by category or price range">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="filter" style="width: 16px; height: 16px; margin: 2px;">
        <path d="M2 7h.142a3.981 3.981 0 0 0 7.716 0H30a1 1 0 0 0 0-2H9.858a3.981 3.981 0 0 0-7.716 0H2a1 1 0 0 0 0 2zm4-3a2 2 0 1 1-2 2 2 2 0 0 1 2-2zm24 11h-.142a3.981 3.981 0 0 0-7.716 0H2a1 1 0 0 0 0 2h20.142a3.981 3.981 0 0 0 7.716 0H30a1 1 0 0 0 0-2zm-4 3a2 2 0 1 1 2-2 2 2 0 0 1-2 2zm4 7H19.858a3.981 3.981 0 0 0-7.716 0H2a1 1 0 0 0 0 2h10.142a3.981 3.981 0 0 0 7.716 0H30a1 1 0 0 0 0-2zm-14 3a2 2 0 1 1 2-2 2 2 0 0 1-2 2z"></path>
      </svg>
    </button>
    <div class="modal" id="modal">
      <div class="modal-header">
        <div class="title">Filter</div>
        <button data-close-button class="close-button">&times;</button>
      </div>
      <div class="modal-body">
        <%= render "popover"%>
      </div>
    </div>
    <div id="overlay"></div>
  </div>
</div>
<div class="product" >
  <% @product_listing_pages.each do |product_listing_page| %>
    <a href="<%= product_listing_page_path(product_listing_page) %>" class="anchor-tag">
      <div class ="product-details">
        <div class="details-list">
          <%= render product_listing_page %>
        </div>
        <%= button_to  product_listing_page.quantity < 1 ? 'Out of Stock' : 'Buy Now', 
        cart_items_path(product_listing_page_id: product_listing_page.id ), method: :post, 
        remote: true, class: product_listing_page.quantity < 1 ? "out-of-stock" : "buy-now" ,onclick: 'event.stopPropagation()',data:{turbo:true}   ,  
        disabled: product_listing_page.quantity < 1   %>
      </div>
    </a>
  <% end %>
</div>
<%= javascript_include_tag 'popover' %>
<%= javascript_include_tag 'search' %>