<div class='product-details'>
  <div class="product-more">
    <%= render @product_listing_page %>
  </div>
  <div class='links'>
    <%= link_to "Back", product_listing_pages_path ,class:"detail-links" %>
    <% if current_user&.admin?  %>
      <%= link_to "Update", edit_product_listing_page_path(@product_listing_page) ,class:"detail-links" %>
      <%= button_to "Delete", @product_listing_page, method: :delete ,class:"detail-links"%>
    <% end %>
    <%= button_to 'Buy Now', cart_items_path(product_listing_page_id: @product_listing_page.id), method: :post, remote: true, onclick: 'event.stopPropagation()',data:{turbo:false},class:"detail-links"  %>
  </div>
</div>