<div class="form_page">
  <div class='edit_form'>
    <h3 class="edit-user">Edit User</h3>
    <%= form_with(model: @user, url: user_path(@user), method: :patch) do |form| %>
      <div class="edit_user">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, required: true %>
        </div>
        <div class="form-group">
          <%= form.label :email %>
          <%= form.email_field :email, required: true %>
        </div>
        <div class="form-group">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>
        <div class="form-group">
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation %>
        </div>
        <div class="form-group">
          <%= form.label :phone_number %>
          <%= form.text_field :phone_number, required: true %>
        </div>
        <div class="form-group">
          <%= form.label :address %>
          <%= form.text_field :address, required: true %>
        </div>
        <div class="form-group">
          <%= form.submit "Update User", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
