<h1>Users Management</h1>
<div class="actions">
  <%= link_to 'New User', signup_path, class: 'btn-new' %>
</div>
<div class="users-list">
  <% @users.each do |user| %>
    <div class="user-card">
      <div class="user-details">
        <div class="user-detail"><strong>Name:</strong> <%= user.name %></div>
        <div class="user-detail"><strong>Email:</strong> <%= user.email %></div>
        <div class="user-detail"><strong>Phone Number:</strong> <%= user.phone_number %></div>
        <div class="user-detail"><strong>Address:</strong> <%= user.address %></div>
      </div>
      <div class="user-actions">
        <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-edit' %>
        <%= button_to 'Delete', user_path(user), method: :delete, class: 'btn btn-delete' %>
        <%= link_to 'View Purchased Products', purchased_products_user_path(user), class: 'btn btn-view-products' %>
      </div>
    </div>
  <% end %>
</div>
