<div class="form_page">
  <div class='new_form'>
    <h3>Sign Up</h3>
    <%= form_with(model: @user, url: signup_path, id: "signup-form" ) do |form| %>
      <div class="signup">
        <div>
          <%= form.label :name, style: "display: block" %>
          <%= form.text_field :name %>
          <p id="name-error" class="error-message">Name is required.</p>
        </div>
        <div>
          <%= form.label :email, style: "display: block" %>
          <%= form.email_field :email %>
          <p id="email-error" class="error-message">A valid email is required.</p>
        <div>
          <%= form.label :password, style: "display: block" %>
          <%= form.password_field :password %>
          <p id="password-error" class="error-message">Password must be at least 6 characters long.</p>
        </div>
        <div>
          <%= form.label :password_confirmation, style: "display: block" %>
          <%= form.password_field :password_confirmation %>
          <p id="password_confirmation-error" class="error-message">Passwords do not match.</p>
        </div>
        <div>
          <%= form.label :phone_number, style: "display: block" %>
          <%= form.text_field :phone_number %>
          <p id="phone_number-error" class="error-message">Phone number is required.</p>
        </div>
        <div>
          <%= form.label :address, style: "display: block" %>
          <%= form.text_field :address %>
          <p id="address-error" class="error-message">Address is required.</p>
        </div>
        <div>
          <%= form.submit "Sign Up" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'signUpvalidation' %>