<h1>Purchased Products by <%= @user.name %></h1>
<div class="orders">
  <% @purchased_products.each do |order| %>
    <div class="order"> 
      <h3>Order Date: <%= order.updated_at.strftime("%B %d, %Y %I:%M %p") %></h3>
      <div class="order-details">
        <p>Product: <%= order.product_listing_page.title %></p>
        <p>Quantity: <%= order.quantity %></p>
        <p>Total Price: <%= number_to_currency(order.product_listing_page.price * order.quantity) %></p>
      </div>
    </div>
  <% end %>
</div>