<h2>Order History</h2>
<div class="orders">
  <%if current_user%>
    <% @orders.each do |order| %>
      <div class="order">
        <h3>Order Date: <%= order.updated_at.strftime("%B %d, %Y %I:%M %p") %></h3>
        <div class="order-details">
          <p>Product: <%= order.product_listing_page.title %></p>
          <p>Quantity: <%= order.quantity %></p>
          <p>Total Price: <%= number_to_currency(order.product_listing_page.price * order.quantity) %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="empty-message"">
      <h3 class="orders">Nothing in History</h3>
      <div>
        <a href='/login' data: { turbo: true } class="anchor" >
          go to login</a>
      </div>
    </div>
  <% end %>
</div>