<h2 class="cart-head">Your Cart</h2>
<div class="cart-page">
  <div class="cart-page-left">
    <%if @cart_items.length > 0 %>
      <% @cart_items.each do |cart_item| %>
        <div class="cart">
          <div class="cart-image">
            <%= image_tag cart_item.product_listing_page.image if cart_item.product_listing_page.image.present?  %>
          </div>
          <div class="cart-details">
            <div class="cart-title-price">
              <div>
                <h3><%= cart_item.product_listing_page.title %></h3>
              </div>
              <h4 class='price'>
                <%= number_to_currency(cart_item.product_listing_page.price) %>
              </h4>
            </div>
            <p class="cart-description two-lines">
              <%= cart_item.product_listing_page.description %>
            </p>
            <div class="cart-quantity-delete">
              <div class="cart-quantity">
                <%= button_to ' - ', decrement_cart_item_path(cart_item), method: :patch, class: 'quantity-btn' %>
                <span>&nbsp; Quantity: <%= cart_item.quantity %>&nbsp;</span>
                <%= button_to ' + ', increment_cart_item_path(cart_item), method: :patch, class: 'quantity-btn' %>
              </div>
              <%= button_to 'Remove', cart_item_path(cart_item), method: :delete ,class:'delete-btn' %>
            </div>
          </div>
        </div>
      <% end %>
    <%else%>
      <div class="empty-message">
        <h3 >Your cart is empty.</h3>
        <div>
          <a href='/product_listing_pages' data: { turbo: true } class="anchor" >
            Go to Market
          </a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="cart-page-right">
    <h2 class="h">Price Details</h2>
    <hr>
    <% total_price = @cart_items.sum { |cart_item| cart_item.product_listing_page.price * cart_item.quantity } %>
    <div class="price-details">
      <h3>Items </h3>
      <p><%= @cart_items.sum{|ele| ele.quantity}%> </p>
    </div>
    <div class="price-details">
      <h3>Total Price:</h3>
      <p><%= number_to_currency(total_price) %> </p>
    </div>
  </div>
</div>

<div class="cart-head cart-bottom">
  <%= link_to 'back', product_listing_pages_path ,class:"na-link back-btn" %>
  <% if @cart_items.length > 0 %>
    <%= link_to 'PLACE ORDER', purchase_cart_items_path, class: "place-order" %>
  <% end %>
</div>

