<h2 class="cart-head">Delivery Information</h2>
<div class="delivery-form">
  <%= form_with(url: purchase_cart_items_path, method: :post, class: "form") do %>
    <div class="form-group">
      <%= label_tag :address, "Delivery Address", class: "form-label" %>
      <%= text_field_tag :address, current_user.address, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :phone_number, "Phone Number", class: "form-label" %>
      <%= text_field_tag :phone_number, current_user.phone_number, required: true, class: "form-control" %>
    </div>
    <div>
      <%=link_to "back",cart_items_path, class: "nav-link", data: { turbo: false } %>
      <%= submit_tag "Confirm and Place Order", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
