.cart-page {
    display: flex;
    margin: 10px;
    justify-content: space-between;

    .cart-page-left {
        width: 68%;
        border-radius: 5px;
        border: .1px solid rgb(248, 240, 240);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    }

    .cart-page-right {
        border-radius: 5px;
        padding: 1rem;
        width: 30%;
        border: .1px solid rgb(248, 240, 240);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
        height: fit-content;

        .price-details {
            padding: 10px 10px;
        }
    }

    .cart {
        margin-top: 10px;
        background-color: white;
        display: flex;

        .cart-image {
            width: 30%;
        }

        .cart-image>img {
            width: 100%;
            height: 200px;
        }

        .cart-description,
        .cart-quantity {
            width: 80%;
            opacity: .8;
        }

        .cart-details {
            width: 60%;
            padding: 15px;

            .cart-title-price,
            .cart-quantity-delete {
                display: flex;
                justify-content: space-between;
                padding: 1px;
                align-items: center;
            }

            .delete-btn {
                background: none;
                border: none;
            }

            .delete-btn:hover {
                font-size: medium;
                color: rgb(248, 116, 82);
            }

        }
    }

    .price-details {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

}

.two-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
    line-height: 1.5em;
}


.cart-head {
    margin-left: 10px;
}


.cart-quantity {
    display: flex;

    .quantity-btn {
        border-radius: 1rem;
        border-radius: 8px;
        width: 20px;
        height: 20px;
        border: 1px solid #F4F8FF;
        ;
        line-height: 16px;
        font-size: 12px;
        font-family: inter_semi_bold;
    }

    .quantity-btn:hover {
        background-color: #146ee4;
        color: white;
    }

}


.cart-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .payment {
        padding: 10px;
        background: none;
        border-radius: 5px;
        margin-top: 14px;
        color: white;
        background-color: rgb(122, 91, 207);
        font-size: small;
        border: none;
    }
}