.form-page {
  margin: 0.5rem;
}

.new_form {
  padding: 14px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;

  h3 {
    text-align: center;

  }



  div {
    padding-top: 16px;

    input[type='text'],
    input[type="number"] {
      padding: 0.4rem;
      width: 100%;
      font-size: large;
      border-radius: 10px;


    }

    textarea {
      padding: 1rem;
      width: 100%;
      font-size: large;
      border-radius: 10px;


    }
  }

  select {
    width: 100%;
    font-size: large;
    padding: 10px;
    border-radius: 10px;

    options {
      padding: 10px;
    }
  }

  input[type='file'] {
    width: 100%;
    font-size: large;
    border-radius: 4px;

  }
}

.bottom-button {
  display: flex;
  justify-content: space-between;

  .btn {
    background-color: none;
    border: none;
    cursor: pointer;
    font-size: large;
  }
}