.header {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  font-size: larger;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: black;

  }

}

.header-left,
.header-right {
  display: flex;

  div {
    padding: 1rem 1rem 1rem 1rem;
  }
}


.log-out {
  font-size: medium;
  background: none;
  border: none;
  cursor: pointer;
}