.login {
    display: flex;
    justify-content: center;

    .login-form {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 1rem;
        padding: 20px;
        width: 400px;
        border-radius: 10px;
      }
  
      .login-mail,
      .login-password {
        padding: 8px;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 10px;
      }
  
      .login-submit {
        padding: 8px;
        font-size: medium;
        width: fit-content;
        border-radius:5px;
      }
  
}



/* Styles for error messages */
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  display: none;
}

input.error, textarea.error, select.error {
  border: 2px solid red;
}


