$primary-color: #343a40;
$secondary-color: #495057;
$background-color: #f8f9fa;
$border-color: #dee2e6;
$white-color: #ffffff;

@mixin flex-column($gap: 20px) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

.orders {
    
    @include flex-column(20px);
    margin-top: 20px;

    .order {
        background: $white-color;
        border: 1px solid $border-color;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        h3 {
            margin: 0 0 10px;
            color: $secondary-color;
        }

        .order-details {
            p {
                margin: 5px 0;
                color: $secondary-color;
            }
        }
    }
}

@media (max-width: 768px) {
    .orders {
        .order {    
            padding: 15px;

            h3 {
                font-size: 1.2em;
            }

            .order-details {
                p {
                    font-size: 0.9em;
                }
            }
        }
    }
}