$box_shadow: 0px 0px 3px 0 rgba(0, 0, 0, .2);

.product {
  display: flex;
  flex-wrap: wrap;
}


.product-details {
  margin: 48px 16px 16px 16px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: $box_shadow;

  .image>img {
    position: relative;
    height: 200px;
    width: 250px;
    top: -45px;
    border-radius: 10px;
    box-shadow:$box_shadow;

  }

  .image-override>img {
    position: static;
    height: 50vh;
    width: 30vw;
  }
}

.product-more {
  display: flex;

  a {
    padding: 1rem;
  }
}

.product-list {
  display: flex;

  .details {
    margin: 2rem;
  }

  p {
    padding: 0.5rem;
  }
}

.links {
  float: inherit;
  padding: auto;
  display: flex;
  align-items: flex-end;

  a {
    padding-right: 1rem;
    text-decoration: none;
    color: black;
  }

  button {
    background: none;
    border: none;
  }


  .detail-links {
    padding: 1rem;
    font-size: larger;
  }

  .detail-links:hover {
    color: #007bff;
  }

  .detail-links:active {
    color: #73ff00;
  }


}

.buy-now ,.out-of-stock{
  margin-top: 0.5rem;
  width: 100%;
  height: 30px;
  background-color: #546cff;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  font-size: large;
  cursor: pointer;

}
.out-of-stock{
  background-color: rgb(179, 229, 229);
}

.buy-now:active {
  background-color: #050a2c;
}