.cart-head {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .delivery-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  
    .form-group {
      margin-bottom: 15px;
  
      .form-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
      }
  
      .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1em;
  
        &--focus {
          border-color: #007bff;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
      }
    }
  
    .btn-primary {
      margin: auto;
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      color: #fff;
      font-size: 1.2em;
      cursor: pointer;
      text-align: center;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    @media (min-width: 768px) {
      max-width: 800px;
  
      .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .form-label {
          flex: 1;
          margin-right: 10px;
        }
  
        .form-control {
          flex: 2;
        }
      }
  
      .btn-primary {
        width: auto;
        padding: 12px 20px;
      }
    }
  }
  