.search {


    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

    .search-input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgb(230, 227, 227); 
        width: 25%;

    }

    form {
        font-size: larger;

        .search-input,
        .search-cat,
        .flter-btn {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid gray;
        }

        .search-cat,
        .flter-btn {
            padding: 10px;
            border-radius: 5px;
            margin-right: 1rem;
            font-size: large;
            border: none;
        }

        .search-input {
            width: 300px;
            padding: 10px;
        }

        select {
            font-size: medium;
            border: 1px solid black;

            option {
                font-size: large;
            }
        }

    }

    .filter-button {
        font-size: large;

    }

    .header-filter {
        font-size: large;
    }
}