.signup {
    input {
        padding: .4rem;
        border-radius: 5px;
        width: 100%;
    }

    input[type="submit"] {
        padding: .5rem;
        font-size: medium;
        width: fit-content;
    }
}

p {
    padding-bottom: 0.4rem;
}


/* users.css */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

.actions {
  text-align: center;
  margin-bottom: 20px;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}

.user-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-detail {
  font-size: 1em;
}

.user-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}

.btn-edit {
  background-color: #4CAF50;
}

.btn-delete {
  background-color: #f44336;
}

.btn-new {
  display: inline-block;
  background-color: #008CBA;
  color: white;
  padding: 12px 20px;
  text-align: left;
  text-decoration: none;
  border-radius: 4px;
}

.btn-new:hover {
  background-color: #008CBA;
}

.btn-edit:hover {
  background-color: #4CAF50;
}

.btn-delete:hover {
  background-color: #f44336;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .user-card {
    padding: 10px;
  }

  .user-actions {
    flex-direction: column;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

  .btn-new {
    margin: 10px 0;
  }
}


// /* edit styles */


.form_page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.edit_form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.edit-user {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.edit_user .form-group {
  margin-bottom: 15px;
}

.edit_user label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.edit_user input[type="text"],
.edit_user input[type="email"],
.edit_user input[type="password"] {
  width: calc(100% - 10px);
  padding: 8px 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.edit_user .btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.edit_user .btn:hover {
  background-color: #45a049;
}


@media screen and (max-width: 768px) {
  .edit_form {
    width: 100%;
    margin: 0 20px;
    box-shadow: none;
  }

  .edit_user input[type="text"],
  .edit_user input[type="email"],
  .edit_user input[type="password"] {
    width: 100%;
  }
}
