@import 'products';
@import 'header';
@import 'form';
@import "cart";
@import "login";
@import "user";
@import "search";
@import "popover";
@import "orders";
@import "purchase";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.logo {
  height: 20px;
}



.form-error {
  display: none;

}


.header-cart-Items {
  position: absolute;
  transform: translate(-40%, -50%);
  text-align: center;
  border-radius: 8px;
  width: 18px;
  height: 18px;
  background-color: #ff6161;
  border: 1px solid #fff;
  color: #f0f0f0;
  line-height: 16px;
  font-size: 12px;
  font-family: inter_semi_bold;
}

.container {
  margin: 10px;
}

.btn {
  background: none;
  border: none;
}

.anchor-tag {
  text-decoration: none;
  color: black;
}

.back-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: fit-content;
  background-color: rgb(40, 130, 214);
  font-size: medium;
  color: white;
  text-decoration: none;

  a {
    text-decoration: none;

  }
}


@media only screen and (max-width: 500px) {

  .modal {
    width: 90%;
  }

  .header {

    input[type='text'],
    input[type="submit"],
    select {
      border-radius: 5px;
      border: 1px solid gray;
      padding: 10px;
      font-size: medium;
    }

    a {
      font-size: small;
    }

    input[type="submit"] {
      border: 1px solid gray;
    }
  }

  .search {

    margin: 10px 38px;

    input[type='text'],
    input[type="submit"],
    select {
      border-radius: 5px;
      border: .2px solid gray;
      padding: 8px;
      font-size: medium;
      width: 100%;
      margin-top: 10px;
    }

    form {
      display: block;
    }

    .submit {
      margin-top: 10px;
      border: .2px solid gray;
    }

    .filter-button {
      margin-top: 5px;
      margin-left: 3px;
    }

  }

  .new_form {
    width: 100%;
  }

  .login {
    .login-form {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 1rem;
      padding: 20px;
      width: 100%;
      border-radius: 10px;
    }

    .login-mail,
    .login-password {
      padding: 8px;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 10px;
    }

    .login-submit {
      padding: 8px;
      font-size: medium;
      width: fit-content;
    }

  }


  .product {
    justify-content: center;
  }

  .product-list {
    display: block;

    .image-override>img {
      position: static;
      height: 250px;
      width: 100%;
    }
  }

  .links {
    a {
      margin-left: 1.5rem;
    }
  }

  .cart-page {
    display: block;


    .cart-page-left {
      width: 100%;
    }

    .cart-page-right {
      width: 100%;
    }

    .cart {
      margin-top: 10px;
      display: block;
      background-color: white;

      .cart-image>img {
        width: 290px;
        height: 200px;
      }

      .cart-details {
        width: 100%;
        padding: 15px;

        .cart-title-price,
        .cart-quantity-delete {
          display: flex;
          justify-content: space-between;
          padding: 1x;
          align-items: center;
        }

        .delete-btn {
          color: #000;
          background: none;
          border: none;
          color: red;
        }
      }
    }

    .price-details {
      display: flex;
      justify-content: space-between;
      padding: 1x;
      align-items: center;
    }
  }


  .links .detail-links {
    padding: 3px;
    font-size: medium;
  }

  .links a {
    margin-left: 3px;
  }

  .user-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.empty-message {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  flex-direction: column;
  .anchor{
    text-decoration: none;
  }
  .anchor:active{
    color: rgb(71, 85, 214);
  }

}


.place-order{
  font-size: medium;
  border-radius: 5px;
  text-decoration: none;
  width: fit-content;
  background-color: rgb(82, 155, 219);
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.error {
  color: red;
  font-size: smaller;
}

