<!DOCTYPE html>
<html>
  <head>
    <title>MarketPlace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  <body>
    <%=render 'home/header' %>
    <div class='container'>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'flasher' %>
  </body>
</html>
